<%= render 'shared/top_menu' %>
<div class='span4'></div>
<div class='well span8'>
<h1>Contact Us</h1>
<h3>We'd love to hear from you.</h3>
<p>Please fill out the form below and we'll get back to you as soon as possible.</p>

<%= render 'form', :inquiry => @inquiry %>
<br/>
<br/>
<p>You can also reach us at:</p>
<p><td class="span3">Telephone:  303.534.5221</td></p>
<p><td class="span3">E-mail:     info@path21arch.com</td></p>
<br/>
<p><td class="span3">Path21 Architecture</td></p>
<p><td class="span3">333 W. Colfax Avenue</td></p>
<p><td class="span3">Suite 321</td></p>
<p><td class="span3">Denver, Colorado 80204</td></p>
</div>